* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/***** TOP OF PAGE  *******/
.top {
  margin: 0px auto;
  margin-top: 26.5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cloud {
  width: 36px;
  height: 24.75;
  margin-left: 40px;
  margin-right: 0px;
}

.checkbox {
  position: relative;
  left: -24px;
  top: 2px;
  width: 12.38px;
  height: 9px;
}

.top > p {
  width: 75px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #884cb2;
  margin-left: 18px;
  margin-right: 41.5px;
}

.lupa {
  margin-right: 14.92px;
}

.search {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6);
  width: 199px;
  height: 15px;
  background-color: #24272c;
  border: none;
  text-indent: 10px;
}

.round {
  width: 32px;
  height: 32px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #fd648e 0deg,
    #884cb2 178.12deg,
    #fd648e 360deg
  );
  backdrop-filter: blur(15px);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 56.22px;
}

.bell,
.dot {
  position: absolute;
  right: 129px;
}

.dot {
  border: 4px solid #f7685b;
  border-radius: 50%;
  top: 32px;
}

.roundImage {
  border-radius: 50%;
}

/***** TOP OF PAGE *******/

/**** MIDDE OF PAGE ******/
.adding-tasks {
  width: 100%;
  margin-top: 62px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 54px;
  color: #ffffff;
}
.adding-tasks > h1 {
  width: 474px;
  height: 54px;
  font-family: 'Poppins';
}

.adding-tasks > h1 span {
  color: #884cb2;
}

.select {
  display: inline-block;
  width: 220px;
  height: 40px;
  background: #ffffff;
  border: 0.3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  margin-right: 24px;
  position: relative;
  top: 2px;
}
.select > div {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.select > div > p {
  color: #24272c;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.select2 {
  position: relative;
  left: 75px;
}

.square {
  position: relative;
  left: 14.5px;
  top: 2px;
}

.add-btn {
  background: #884cb2;
  border-radius: 10px;
  width: 139px;
  height: 34px;
  color: white;
  border: #884cb2;
}

.alone {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 40px;
  margin-top: 16px;
}
/**** MIDDE OF PAGE ******/

/* *********** TASK LIST ********/
.tasksList {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 600px;
}
/* *********** TASK LIST ********/

/********  TASK ITEM ******/
.task-item {
  width: 395px;
  background: #ffffff;
  border: 0.3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-block;
}

.img-content {
  display: flex;
  flex-direction: row;
}

.round-content {
  width: 68px;
  height: 68px;
  margin-left: 18px;
  margin-top: 16px;
  border-radius: 50%;
  border: 2px solid #3a91c1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.round-content > .image-back {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url('../images/Rectangle\ 159.png') no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  margin-top: 16px;
  max-width: 308px;
  margin-right: 15px;
  margin-left: 15px;
  max-height: 500px;
  overflow: hidden;
}

.content > span:first-child {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 6px;
  color: black;
  mix-blend-mode: normal;
}

.content > span:nth-child(2),
.content > p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
}

.data-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 18px;
  margin-right: 15px;
  margin-bottom: 18px;
  margin-top: 8px;
}

.data-button > span,
.numbers {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #343c44;
}

.data-button > span {
  font-weight: 600;
}

.img-tag {
  position: relative;
  left: 110px;
}

/********  TASK ITEM ******/

/******** TODO INFO CONTENT ********/
.container {
  width: 100%;
  margin-top: 70px;
  padding-left: 40px;
}

.images-info {
  width: 920px;
  height: 200px;
  background: #ffffff;
  border: 0.3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.images-info img {
  width: 160px;
  height: 160px;
}

.content-info {
  border-radius: 8px;
  height: 379px;
  flex: none;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 32px;
  -webkit-box-shadow: 5px 9px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 5px 9px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 5px 9px 8px 0px rgba(34, 60, 80, 0.2);
  margin-right: 40px;
}

.content-info > p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.content-info > h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  line-height: 20px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0.2;
  border-radius: 10px;
}
/******** TODO INFO CONTENT ********/
